# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp

# OneDrive temp
~$*
